<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Angular Store</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cart">
            <img
              class="d-inline-block align-top"
              src="/assets/icons/carts.svg"
              alt=""
              width="30"
              height="24"
            />
            <span class="badge rounded-pill bg-warning text-dark">{{
              total | async
            }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
