<div class="card mx-2 mb-3 px-0">
  <img
    style="height: 250px; object-fit: cover"
    [src]="product.image"
    class="card-img-top img-fluid"
    [alt]="product.name"
  />
  <div class="card-body p-md-2 p-1">
    <a [routerLink]="['product', product.id]" class="link-dark"
      ><h6 class="card-title">
        {{ product.name }}
      </h6></a
    >
    <h6 class="card-subtitle mb-2 text-muted">S/. {{ product.price }}</h6>
  </div>
  <div
    product-controls
    [quantity]="product.quantity || 0"
    (add)="addToCart()"
    (remove)="removeToCart()"
    class="card-footer p-0"
  ></div>
</div>
